<div class="masthead" (scroll)="scrollHandler($event)">
<div #header class="masthead-header">
  <div #sidebar class="sidebar menu">
  <div class="ui two column grid">
    <div class="column row">
			<div class="one wide column"></div>
			<div class="left aligned five wide column">
				<div style="border-left: .5em solid rgba(102,166,113 ,1); padding: 1em 2em; background: rgba(15,50,65 ,1); opacity: .8;">
					<h2 class="ui header">
						<div class="content" style="color: white;">
							<span translate>ePrzesyłka</span>
							<div class="sub header" style="color: white;">
									<span translate>Monitoring przesyłek</span>
							</div>
						</div>
					</h2>
				</div>
			</div>
			<div class="right aligned nine wide column">
				<div class="row" style="margin-top: 1em;">
					<div class="ui floating dropdown labeled search icon button languages" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0, .2);">
						<input type="hidden" name="languages">
						<i class="world icon"></i>
						<span class="text" translate>Domyślny</span>
						<div class="menu">
							<ng-template ngFor let-language let-last="last" [ngForOf]="languages">
								<div class="item" [attr.data-value]="language.code">
									<i class="{{language.flag}} flag"></i>
									<span translate>{{language.desc}}</span>
								</div>
							</ng-template>
						</div>
					</div>

					<span class="pad-sm"></span>

					<button class="ui teal button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0, .2);" (click)="modalLogin()">
						<i class="sign out alternate icon"></i>
						<span translate>Zaloguj się</span>
					</button>
				</div>
			</div>
			<div class="one wide column"></div>
    </div>
  </div>
  </div>

  <div #menu class="ui fixed hidden menu">
    <div class="ui two column grid" style="width: 100%;">
      <div class="column row">
        <div class="one wide column"></div>
        <div class="left aligned five wide column">
          <div style="opacity: .8;">
            <h3 class="ui header">
              <span class="ui image" style="margin-top: .5em;">
                <span class="mdi mdi-cube-send" style="font-size: 48px; color: rgba(102,166,113, 1);"></span>
              </span>
              <div class="content" style="color: white;">
                <span translate>ePrzesyłka</span>
              </div>
            </h3>
          </div>
        </div>
        <div class="right aligned nine wide column">
          <div class="row">
            <div class="ui floating dropdown labeled search icon button languages" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0, .2);">
              <input type="hidden" name="languages">
              <i class="world icon"></i>
              <span class="text" translate>Domyślny</span>
              <div class="menu">
                <ng-template ngFor let-language let-last="last" [ngForOf]="languages">
                  <div class="item" [attr.data-value]="language.code">
                    <i class="{{language.flag}} flag"></i>
                    <span translate>{{language.desc}}</span>
                  </div>
                </ng-template>
              </div>
            </div>
  
            <span class="pad-sm"></span>
  
            <button class="ui teal button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0, .2);" (click)="modalLogin()">
              <i class="sign out alternate icon"></i>
              <span translate>Zaloguj się</span>
            </button>
          </div>
        </div>
        <div class="one wide column"></div>
      </div>
    </div>
  </div>

  <div class="size-height-64"></div>

  <div class="ui two column center aligned grid">
    <div class="center aligned column row">
      <div class="sixteen wide column">
        <h1 class="ui header" style="color: white;">
          <span translate>Zlokalizuj przesyłkę</span>
        </h1>
      </div>
    </div>

    <div class="column row">
      <div class="eight wide column">
        <div class="ui fluid action large input" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0, .2);">
          <input type="text" placeholder="Wprowadź numer przesyłki">
          <button class="ui teal button">
            <i class="search icon"></i>
            <span translate>Znajdź</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="size-height-64"></div>

  <div class="ui two column grid">
    <div class="column row">
			<div class="one wide column"></div>
      <div class="right aligned fourteen wide column">
        <div class="ui label" style="background-color: rgba(224,242,241 ,.2);">
          <span>{{system.date}}</span>
        </div>
        <div class="ui label" style="background-color: rgba(224,242,241 ,.2);">
          <span>{{system.version}}</span>
        </div>
        <div class="ui label" style="background-color: rgba(224,242,241 ,.2);">
          <span>{{system.type}}</span>
        </div>
      </div>
			<div class="one wide column"></div>
    </div>
  </div>

  <div class="size-height-24"></div>
</div>


<div class="masthead-content">
  <div class="size-height-50"></div>

  <div class="ui centered grid">
    <div class="centered row">
      <div class="ui link cards">
        <div class="ui teal card offer">
          <div class="content">
            <h3 class="ui header">
              <i class="map marker alternate icon"></i>
              <div class="content">
                <span translate>Znajdź punkt</span>
                <!-- <div class="sub header">Check out our plug-in marketplace</div> -->
              </div>
            </h3>

            <div class="description">
              <span translate>Wyszukaj swój najbliższy punkt odbioru lub wysyłki przesyłki.</span>
            </div>

            <div class="size-height-50"></div>

            <div class="meta">
              <button class="ui button">
                <i class="search icon"></i>
                <span translate>Wyszukaj</span>
              </button>
            </div>
          </div>
        </div>
        <div class="ui teal card offer">
          <div class="content">
            <h3 class="ui header">
              <i class="shipping fast icon"></i>
              <div class="content">
                <span translate>Zamów kuriera</span>
                <!-- <div class="sub header">Check out our plug-in marketplace</div> -->
              </div>
            </h3>

            <div class="description">
              <span translate>Nadaj paczkę w naszym punkcie lub zamów kuriera.</span>
            </div>

            <div class="size-height-50"></div>

            <div class="meta">
              <!-- <button class="ui button">
                <i class="shipping fast icon"></i>
                <span translate>Zamów</span>
              </button> -->
              <div class="ui animated fade button" tabindex="0">
                <div class="visible content">
                  <i class="shipping fast icon"></i>
                  <span translate>Zamów</span>
                </div>
                <div class="hidden content">
                  <span translate>od 11.99 zł</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui teal card offer">
          <div class="content">
            <h3 class="ui header">
              <i class="question circle outline icon"></i>
              <div class="content">
                <span translate>Zgłoś uwagę</span>
                <!-- <div class="sub header">Check out our plug-in marketplace</div> -->
              </div>
            </h3>

            <div class="description">
              <span translate>Wyślij nam propozycje swoich uwag dotyczące naszych usług.</span>
            </div>

            <div class="size-height-50"></div>

            <div class="meta">
              <button class="ui button" (click)="modalContact()">
                <i class="mail icon"></i>
                <span translate>Napisz</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui two column grid">
    <div class="column row" style="padding: 2em 1.25em;">
      <div class="one wide column"></div>
      <div class="fourteen wide column" style="border-top: .2em solid rgba(34,36,38, .1);"></div>
      <div class="one wide column"></div>
    </div>
  </div>

  <div class="ui two column grid">
    <div class="column row">
      <div class="one wide column"></div>
      <div class="fourteen wide column">
        <div class="ui large header">
          <span translate>Aktualności</span>

          <div class="ui secondary tertiary button ">
            <span translate>Zobacz wszystkie</span>
          </div>
        </div>

        <div class="row">
          <div class="ui three cards">
            <div class="ui horizontal link card news">
              <i class="newspaper outline icon" style="font-size: 48px; margin: 1em .5em;"></i>
              <div class="content">
                <div class="header">
                  <span translate>COVID-19</span>
                </div>
                <div class="meta">
                  <span class="category" translate>bieżące informacje</span>
                </div>
                <div class="description">
                  <p>Aktualne informacje dotyczące odbierania i nadawania przesyłek.</p>
                </div>

                <div class="meta" style="float: right;">
                  <div class="ui secondary tertiary button">
                    <span translate>więcej</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui horizontal link card news">
              <i class="newspaper outline icon" style="font-size: 48px; margin: 1em .5em;"></i>
              <div class="content">
                <div class="header">Paczka w Weekend</div>
                <div class="meta">
                  <span class="category">Zmiana harmonogramu usługi</span>
                </div>
                <div class="description">
                  <p>Paczka w Weekend - komunikat.</p>
                </div>

                <div class="meta" style="float: right;">
                  <div class="ui secondary tertiary button">
                    <span translate>więcej</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui horizontal link card news">
              <i class="newspaper outline icon" style="font-size: 48px; margin: 1em .5em;"></i>
              <div class="content">
                <div class="header">Paczka</div>
                <div class="meta">
                  <span class="category">Zamów i odbierz paczkę</span>
                </div>
                <div class="description">
                  <p>Kolejne e-sklepy dołączają do naszej usługi przesyłek.</p>
                </div>

                <div class="meta" style="float: right;">
                  <div class="ui secondary tertiary button">
                    <span translate>więcej</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="one wide column"></div>
    </div>
  </div>

  <div class="size-height-50"></div>
</div>

<div class="masthead-footer">
  <div class="size-height-24"></div>

  <div class="ui two column grid">
    <div class="column row">
			<div class="one wide column"></div>
      <div class="left aligned five wide column">
        <div class="ui padded basic segment">
          <h2 class="ui header">
            <span class="ui image">
              <span class="mdi mdi-cube-send" style="font-size: 56px; color: rgba(25,64,85, 1);"></span>
            </span>
            <div class="content">
              <span translate>ePrzesyłka</span>
              <div class="sub header">
                <span translate>Monitoring przesyłek</span>
              </div>
            </div>
          </h2>
        </div>
      </div>
      <div class="right aligned nine wide column">
        <div class="ui basic">
          <div class="ui secondary tertiary button" (click)="modalRegulations()">
            <span translate>Regulamin</span>
          </div>
          <div class="ui secondary tertiary button" (click)="modalPrivacy()">
            <span translate>Polityka prywatności</span>
          </div>
          <div class="ui secondary tertiary button" (click)="modalCookie()">
            <span translate>Cookie</span>
          </div>
          <div class="ui secondary tertiary button" (click)="modalContact()">
            <span translate>Kontakt</span>
          </div>
        </div>

        <div class="size-height-24"></div>

        <div class="inline field">
          <label style="padding-right: 2em;">
            <span class="ui large text" style="vertical-align: middle;" translate>Newsletter</span>
          </label>

          <div class="ui action input" style="width: 320px; box-shadow: 0px 0px 25px 5px rgba(0,0,0, .1);">
            <input type="text" placeholder="Adres e-mail">
            <button class="ui teal button">
                <span translate>Zapisz się</span>
            </button>
          </div>
        </div>
      </div>
			<div class="one wide column"></div>
    </div>
  </div>

  <div class="ui two column grid">
    <div class="column row">
      <div class="one wide column"></div>
      <div class="left aligned five wide column">
        <div layout="row" style="padding-left: 1em;">
          <button mat-icon-button matTooltip="Facebook">
            <span class="mdi mdi-facebook mdi-24px tc-indigo-400"></span>
          </button>
          <span style="width: 6px;"></span>
          <button mat-icon-button matTooltip="Twitter">
            <span class="mdi mdi-twitter mdi-24px tc-blue-400"></span>
          </button>
          <span style="width: 6px;"></span>
          <button mat-icon-button matTooltip="Skype">
            <span class="mdi mdi-skype mdi-24px tc-light-blue-400"></span>
          </button>
        </div>
      </div>
      <div class="right aligned nine wide column">
        <div class="row" style="padding-top: 1em;">
          <span style="vertical-align: sub; opacity: .6;">Copyright © 2020 Marcin Murawski. Wszelkie prawa zastrzeżone.</span>
        </div>
      </div>
			<div class="one wide column"></div>
    </div>
  </div>

  <div class="size-height-50"></div>
</div>
</div>

<!-- login -->
<div class="ui modal modal-login">
    <i class="close icon"></i>
    <div class="scrolling content">
        <form class="ui medium form form-login">
            <div class="ui basic">
              <h1 class="ui header">
                <div class="content">
                  <span>{{'Witaj w aplikacji' | translate}}</span>
                  <div class="sub header">
                    <span class="pad-left-xs">{{'zaloguj się kontem użytkownika' | translate}}</span>
                  </div>
                </div>
              </h1>
  
              <div class="size-height-12"></div>
  
              <div class="field">
                <label>{{'Nazwa użytkownika' | translate}}</label>
                <div class="ui left icon input">
                  <i class="at icon"></i>
                  <input name="userName" [(ngModel)]="userName" placeholder="{{'Nazwa użytkownika' | translate}}" type="text">
                </div>
              </div>
              <div class="field">
                <label>{{'Hasło' | translate}}</label>
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input name="password" [(ngModel)]="password" placeholder="{{'Hasło' | translate}}" type="password">
                </div>
              </div>
  
              <div class="size-height-6"></div>
  
              <div class="fields">
                <div class="six wide field">
                </div>
  
                <div class="ten wide field" style="text-align: right;">
                  <a (click)="modalPassword()">
                    <i class="icon lock"></i>
                    {{'Przypomnij hasło' | translate}}
                  </a>
                </div>
              </div>
  
              <div class="size-height-12"></div>
  
              <button type="submit" class="ui fluid teal button" (click)="loginPasswordFlow()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
                {{'Zaloguj' | translate}}
              </button>
            </div>
  
            <div class="size-height-12"></div>
  
            <div class="ui horizontal divider">LUB</div>
  
            <h5 class="ui header">
              <div class="content">
                {{'Logowanie przez' | translate}}
                <div class="sub header">{{'portal społecznościowy' | translate}}</div>
              </div>
            </h5>
            <div class="ui basic left aligned" style="padding-top: 0;">
              <ng-template ngFor let-provider let-last="last" [ngForOf]="accountService.loginSocialProviders">
                <button class="ui circular icon button" [ngClass]="provider.class" matTooltip="{{provider.name}}" [matTooltipPosition]="'above'"
                      (click)="loginSocialCode(provider.key)" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
                  <i class="icon {{provider.icon}}"></i>
                  <!-- <span>{{provider.name}}</span> -->
                </button>
                <span *ngIf="!last" class="size-height-12"></span>
              </ng-template>
            </div>
          </form>
    </div>
</div>

<!-- password -->
<div class="ui modal modal-password">
    <i class="close icon"></i>
    <div class="scrolling content">
        <form class="ui medium form form-password">
            <div class="ui basic">
              <h1 class="ui header">
                <div class="content">
                  <span>{{'Przypomnij hasło' | translate}}</span>
                  <div class="sub header">
                    <span class="pad-left-xs">{{'wyślij nowe hasło do konta' | translate}}</span>
                  </div>
                </div>
              </h1>
  
              <div class="size-height-12"></div>
  
              <p class="ui text">{{'Na wskazany adres e-mail zostanie wysłana wiadomość z linkiem umożliwiającym zmianę hasła dostępu do konta użytkownika.' | translate}}</p>

              <p class="ui text">{{'Proszę postępować według instrukcji zawartej w otrzymanej wiadomości e-mail.' | translate}}</p>
  
              <div class="size-height-12"></div>
  
              <div class="field">
                <label>{{'Adres e-mail' | translate}}</label>
                <div class="ui left icon input">
                  <i class="at icon"></i>
                  <input name="email" [(ngModel)]="email" placeholder="{{'Adres e-mail' | translate}}" type="text">
                </div>
              </div>
  
              <div class="size-height-12"></div>
  
              <button type="submit" class="ui fluid teal button" (click)="reminderPassword()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
                {{'Wyślij' | translate}}
              </button>
            </div>
          </form>
    </div>
</div>

<!-- contact -->
<div class="ui modal modal-contact">
    <i class="close icon"></i>
    <div class="scrolling content">
        <form class="ui medium form form-contact">
            <div class="ui basic">
              <h1 class="ui header">
                <div class="content">
                  <span>{{'Kontakt' | translate}}</span>
                  <div class="sub header">
                    <span class="pad-left-xs">{{'wyślij wiadomość e-mail' | translate}}</span>
                  </div>
                </div>
              </h1>
  
              <div class="size-height-12"></div>

              <p class="ui text">Jeśli potrzebujesz pomocy, znalazłeś błąd w aplikacji, skontaktuj się z działem obsługi klienta.</p>

              <div class="size-height-12"></div>
  
              <div class="field">
                <label>{{'Adres e-mail' | translate}}</label>
                <div class="ui left icon input">
                  <i class="at icon"></i>
                  <input name="email" [(ngModel)]="email" placeholder="{{'Adres e-mail' | translate}}" type="text">
                </div>
              </div>

              <div class="field">
                <label>{{'Pytanie lub sugestia' | translate}}</label>
                <div class="ui fluid input">
                    <textarea rows="6" maxlength="255" placeholder="Treść wiadomości"></textarea>
                </div>
              </div>
  
              <div class="size-height-12"></div>
  
              <button type="submit" class="ui fluid teal button" (click)="send()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
                {{'Wyślij' | translate}}
              </button>
            </div>
          </form>
    </div>
</div>

<!-- regulations -->
<div class="ui basic modal modal-regulations">
    <i class="close icon"></i>
    <div class="header">
      <span translate>Regulamin</span>
    </div>
    <div class="scrolling content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.
  
      Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.
  
      Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.
  
      Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.
  
      Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>
  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.
  
      Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.
  
      Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.
  
      Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.
  
      Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>
    </div>
  </div>
  
  <!-- privacy -->
  <div class="ui basic modal modal-privacy">
    <i class="close icon"></i>
    <div class="header">
      <span translate>Polityka prywatności</span>
    </div>
    <div class="scrolling content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.
  
      Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.
  
      Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.
  
      Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.
  
      Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>
  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.
  
      Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.
  
      Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.
  
      Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.
  
      Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>
    </div>
</div>
  
<!-- cookie -->
<div class="ui basic modal modal-cookie">
    <i class="close icon"></i>
    <div class="header">
      <span translate>Cookie</span>
    </div>
    <div class="scrolling content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.
  
      Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.
  
      Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.
  
      Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.
  
      Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>
  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.
  
      Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.
  
      Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.
  
      Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.
  
      Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>
    </div>
</div>