.masthead {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.masthead-header {
  background-image: radial-gradient(circle, #619681, #427c75, #2a6367, #194a55, #0f3241);
  padding: 4em 6em 0 6em;
  border-bottom: .4em solid rgba(102,166,113, .6);
  box-shadow: 0 -5px 10px 5px rgba(34,36,38, .8);
}
.masthead-content {
  min-height: 640px;
  padding: 0 6em;
}
.masthead-footer {
  border-top: .2em solid rgba(34,36,38, .1);
  background: rgba(236,239,241 ,1);
  padding: 0 6em;
}
.fixed.menu {
  background-image: radial-gradient(circle, #619681, #427c75, #2a6367, #194a55, #0f3241);
  padding: 1em 6em;
  border-bottom: .4em solid rgba(102,166,113, .6);
  box-shadow: 0 -5px 10px 5px rgba(34,36,38, .8);
}
.fade-in {
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}
@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 1; 
  } 
} 
.hidden.menu {
  display: none;
}
.fade-out {
  animation: fadeOutAnimation ease 1s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}
@keyframes fadeOutAnimation { 
  0% { 
    opacity: 1;
  } 
  100% { 
    opacity: 0; 
  } 
} 
.tertiary.button {
  margin-left: 1em !important;
  margin-right: 1em !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: rgba(0,137,123, 1) !important;
}
.tertiary.button:hover {
  padding-left: 0 !important;
  padding-right: 0 !important;
  box-shadow: inset 0 -.4em 0 rgba(0,137,123, 1) !important;
}
.ui.card.offer {
  margin: 2em !important;
  border-top: .4em solid rgba(102,166,113, 1) !important;
  box-shadow: 0px 0px 25px 5px rgba(0,0,0, .2) !important;
}
.ui.card.news {
  border-top: .4em solid rgba(102,166,113, 1) !important;
  box-shadow: 0px 0px 25px 5px rgba(0,0,0, .2) !important;
}
.modal-login {
  width: 420px !important;
  right: 20%;
}
.modal-password {
  width: 420px !important;
  right: 20%;
}
.modal-contact {
  width: 420px !important;
  right: 20%;
}
.modal {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(224,242,241, .5);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0,96,100, 1)
  }
}